.typewriter {
  display: inline-block;
  font-size: 2.5vw;
  overflow: hidden;
  white-space: nowrap;
}

.blinker {
  display: inline-block;
  color: #800080;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.instagram-embed blockquote {
  max-width: 800px;
}

@media (max-width: 800px) {
  .instagram-embed blockquote {
    max-width: 300px;
  }
}
