@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

.committee {
  border-radius: 100%;
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .committee {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 992px) {
  .committee {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 768px) {
  .committee {
    width: 35vw;
    height: 35vw;
  }
}

@media (max-width: 480px) {
  .committee {
    width: 50vw;
    height: 50vw;
  }
}

.committee-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 20px;
  grid-auto-rows: minmax(200px, auto);
  overflow: hidden;
}

@media (max-width: 1200px) {
  .committee-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .committee-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .committee-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .committee-grid {
    grid-template-columns: 1fr;
  }
}

.role {
  text-align: center;
}

.name {
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  margin-bottom: 0;
}

.role-name {
  font-size: 1em;
  color: #a020f0;
  font-weight: bold;
  margin-block: 0;
}

.email {
  font-size: 0.9em;
  color: gray;
  margin-bottom: 0;
  text-decoration: none;
}

.email:hover {
  color: white;
  text-decoration: underline;
}
