.committee {
  border-radius: 100%;
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1200px) {
  .committee {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 992px) {
  .committee {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 768px) {
  .committee {
    width: 35vw;
    height: 35vw;
  }
}

@media (max-width: 480px) {
  .committee {
    width: 45vw;
    height: 45vw;
  }
}

.committee-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 20px;
  grid-auto-rows: minmax(200px, auto);
  overflow: hidden;
}

@media (max-width: 1200px) {
  .committee-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .committee-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .committee-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .committee-grid {
    grid-template-columns: 1fr;
  }
}

.role {
  text-align: center;
}

.name {
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .name {
    font-size: 3em;
    line-height: 1.8;
  }
  .linkedin {
    font-size: 3em;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 4em;
    line-height: 1;
  }
  .linkedin {
    font-size: 3.7em;
  }
}

.role-name {
  font-size: 1em;
  color: #a020f0;
  font-weight: bold;
  margin-block: 0;
}

@media (max-width: 768px) {
  .role-name {
    font-size: 2.5em;
  }
}

@media (max-width: 480px) {
  .role-name {
    font-size: 3em;
  }
}

.email {
  font-size: 0.9em;
  color: gray;
  margin-bottom: 5px;
  text-decoration: none;
}

.email:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .email {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .email {
    font-size: 2.5em;
  }
}

.header2 {
  text-align: center;
  margin-bottom: 20px;
}

.committee-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-header h3 {
  margin: 0 10px;
  flex-grow: 1;
  text-align: center;
  font-size: 2.8vw;
}

@media (max-width: 992px) {
  .carousel-header h3 {
    font-size: 4.5vw;
  }
}

@media (max-width: 768px) {
  .carousel-header h3 {
    font-size: 5vw;
  }
}

@media (max-width: 480px) {
  .carousel-header h3 {
    font-size: 6.5vw;
  }
}

.left-arrow,
.right-arrow {
  background: none;
  border: none;
  font-size: 4vw;
  cursor: pointer;
}

@media (max-width: 992px) {
  .left-arrow,
  .right-arrow {
    font-size: 7vw;
  }
}

@media (max-width: 480px) {
  .left-arrow,
  .right-arrow {
    font-size: 10vw;
  }
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel-item {
  display: none;
  width: 100%;
}

.carousel-item:target {
  display: block;
}

.name-and-social {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.name {
  margin: 0;
  line-height: 1;
}

.linkedin {
  display: flex;
  align-items: center;
}

.linkedin a {
  display: flex;
  align-items: center;
}

.linkedin-icon {
  color: white;
}

.linkedin-icon:hover {
  color: #0b66c2;
}
