@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "rubik-mono";
  src: url(./assets/fonts/RubikMonoOne-Regular.ttf);
  font-weight: 400;
}

:root {
  --unics-black: #252824;
  --unics-black-black: #141513;
  --unics-purple: #8a3eb0;
  --unics-yellow: #fccd40;
  --unics-white: #f1f1f1;

  margin: 0;
  padding: 0;
  background-color: var(--unics-black);
  font-family: "rubik-mono" !important;
}
